//! **************************************************************************
// Written by: Map P.20131013 on Mon May 27 02:04:39 2019
//! **************************************************************************

SCHEMATIC START;
NET "we_decoded_row_address_7_BUFGP/IBUFG" BEL
        "we_decoded_row_address_7_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_0_BUFGP/IBUFG" BEL
        "we_decoded_row_address_0_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_4_BUFGP/IBUFG" BEL
        "we_decoded_row_address_4_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_1_BUFGP/IBUFG" BEL
        "we_decoded_row_address_1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_5_BUFGP/IBUFG" BEL
        "we_decoded_row_address_5_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_2_BUFGP/IBUFG" BEL
        "we_decoded_row_address_2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_6_BUFGP/IBUFG" BEL
        "we_decoded_row_address_6_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "we_decoded_row_address_3_BUFGP/IBUFG" BEL
        "we_decoded_row_address_3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

